<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" href="../../../../resources/static/css/auth/login.css">
 
</head>
<body>
  <div>
    <div class="login-container">
      <h1>로그인</h1>
      <form>
        <input type="text" placeholder=" 사용자 이름 또는 이메일">
        <input type="password" placeholder="비밀번호">
        <button type="submit">로그인</button>
      </form>
      <p style="margin-top: 15px;">비밀번호를 잊으셨나요?</p>
    </div>
    <div class="signup-container">
      <p>계정이 없으신가요? <a href="./signup.html" onclick="goToSignup()">가입하기</a></p>
  </div>
  
</body>
</html>