<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가입</title>
  <link rel="stylesheet" href="../../../../resources/static/css/auth/signup.css">
  <script src="../../../../resources/static/js/auth/signup.js" defer></script>
</head>
<body>
  <div class="signup-container" id="signup-container">
    <h1>가입하기</h1>
    <p>간편하게 수업을 찾고 공유하려면 가입하세요.</p>
    <form id="signup-form">
      <input type="email" placeholder="이메일">
      <input type="text" placeholder="별명">
      <input type="password" placeholder="비밀번호">
      <button type="button" id="next-button">다음</button>
    </form>
    <p>계정이 있으신가요? <a href="./login.html">로그인</a></p>
  </div>

</body>
</html>
