<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../resources/static/css/index.css">
</head>
<body>
  <header>
    <div class="head-container">
      <div class="head-wrap">
        <div class="logo">
          <span>TradeTalent</span>
        </div>
        <ul class="nav">
          <li><a href="#">프로필</a></li>
          <li><a href="#">메세지</a></li>
          <li><a href="#">레슨등록</a></li>
          <li><a href="#">알아보기</a></li>
        </ul>
        <div class="search-wrap">
          <button type="button">
            <span>검색할 내용을 입력하세요</span>
            <i class="fas fa-search"></i>
          </button>
        </div>
        <a class="logout" href="#">Logout</a>
      </div>
    </div>
  </header>
  <main>
    <div id="main-wrap">
      <ul id="lessons">
        <li class="lesson">
          <div class="skills"><div class="give">English</div><div class="take">Programming</div></div>
          <div class="post-content">
            한영 책 번역 경험있는 14년차 영어강사입니다. 회화위주로 수업진행하고 있습니다. 학습자에게 맞는 학습방법를 같이 찾아내어 학습 중 자연스럽게 일어날 수 있는 영어의 벽을 넘는 방법을 알려드리겠습니다. 학습자가 관심있는 원서를 같이 읽으며 영어로 이야기하는 수업도 진행하고 있습니다.

저는 프로그래밍을 배우고 직접 소프트웨어를 만들어 볼 수 있는 레슨을 찾고있습니다.
          </div>
          <div class="location"><i class="fas fa-map-marker-alt"></i> 부산</div>
          <div class="view-count">35 <i class="fas fa-eye"></i></div>
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
        <li class="lesson">
        </li>
      </ul>
    </div>
  </main>
  <footer>

  </footer>
  <div class="modal-overlay"></div> <!-- 배경 레이어 -->
  <div class="modal-content">
    
  </div>
</body>
</html>