<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cantata.tradetalent.repository.MessageRepository">

    <insert id="sendMessage">
        INSERT INTO messages
            (sender_id, receiver_id, content)
        VALUES (#{senderId}, #{receiverId}, #{content})
    </insert>


    <update id="updateMessageRead">
        UPDATE messages
        SET is_read = #{isRead},
            received_at = #{receivedAt}
        WHERE sender_id = #{senderId}
    </update>

    <delete id="deleteMessage">
        DELETE FROM messages
        WHERE pk = #{id}
    </delete>

</mapper>